$page-max-width: 1376px;

.app {
    width: 100%;
    height: 100%;
    background: #f6f8ff;

    &-container {
        max-width: $page-max-width;
        margin: auto;
        padding: 20px;
    }

    &-title {
        cursor: pointer;
    }

    &-spacer{
        flex: 1 1 auto;
    }

    &-icon {
        padding: 0 14px;
        cursor: pointer;
    }
}
